.admin h1 {
  text-align: center;
  text-transform: uppercase;
  opacity: 1;
}

.spanTitulo {
  background-color: #000;
  padding: 5%;
  opacity: .9;
    margin-bottom: 2rem;
}

.actions {
  display: flex;
  gap: 2rem;
}

.edit-btn {
  background-color: #13c9e9;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  height: 23px;
  font-size: 16px;
}

.delete-btn {
  background-color: #eb1717;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  height: 33px;
  font-size: 16px;
}

.delete-btn:hover {
  color: #000;
}

.edit-btn:hover {
  color: #000;
}

.post {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border: solid 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
  margin-bottom: 5rem;
  padding: 2rem;
}

@media (max-width: 800px) {
  .post {
    max-width: 500px;
    width: 75%;
    margin: 0 auto;
    border: solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
    margin-bottom: 5rem;
  }
}