.casa {
  border-top: 5px double #c90f0d;
  margin-top: 25px;
}

.home h1 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1.5rem;
}

.post {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 5px double #000;
}

.containerdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.post h2,
.post p,
h4 {
  margin-bottom: 1rem;

}

.post h2::first-letter {
  text-transform: uppercase;
}

.btn-btn {
  background-color: rgb(240, 240, 240);
  color: #000;
  border: 2px solid #000;
  opacity: 15;
  padding: 0.5rem 1rem;
  border-radius: 15px;
  max-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: 0.8s;

}

span {
  color: #c90f0d;
}

.infosapi {
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
}

.actions{
  display: flex;
align-items: center;
justify-content: center}

.imgCar{
width: 20%;
aspect-ratio: 3/2;
object-fit: contain;
align-items: center;
}