.new-post h2 {
  text-align: center;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-size: 2rem;
}

form {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  border: solid 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.5) 0px 18px 36px -18px inset;
  padding: 1rem 5rem 1rem 5rem;
  margin-right: 15rem;
}

form label {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
}

form input {
  margin: 1rem 0 1rem 0;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  padding: 0.5rem;
  border-radius: 5px;
  border: none;
}

.inputcadastro {
  color: #000;
}

.botaoEditar {
  background-color: #13c9e9;
  color: #fff;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.botaoEditar:hover {
  color: #000;
}

@media (max-width: 800px) {
  form {
    width: 50%;
    margin: 0 auto;
    border: solid 1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(255, 255, 255, 0.5) 0px 18px 36px -18px inset;
  }
}