.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-around;

}

.navbar h2 a {
  opacity: 1;
}

.navbar ul {
  display: flex;
  gap: 1rem;
}

.new-btn {
  font-weight: bold;
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  opacity: 1;
}

/* .navbar ul li:hover {
  background: #c90f0d;
  padding: 10px 15px;
  transition: .5s;
  border-radius: 14px;
  font-weight: bold;
  opacity: 2px;

} */

/* .navbar h2 img:visited {
  border-radius: 20px;
  border-color: #c90f0d;
  border-radius: 18px;
  background-color: #f7f7f7;
  cursor: pointer;
  padding-inline-start: 12px;
} */