* {
  margin: 0;
  padding: 0;
  font-family: "Chivo mono", monospace;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  justify-content: space-around;

}

body {
  background: url(./assets/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

ul {
  list-style: none;

}

ul li a:hover {
  color: #000
}

ul li a:not(:hover) {
  color: #fff;
  filter: blur(.5px);
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

a:hover {
  color: #000;
  opacity: 1;
}

p,
h1,
h4 {
  color: #fff;

}