* {
    margin: 0;
    padding: 0;
    font-family: "Blinker";
}

body {
    background-color: #000;
    color: #fff;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #fff;
    opacity: 0.7;
}

a:hover {
    opacity: 1;
}

p {
    color: #a9abb3;
}
